// 测试变量
$color: green;

// 测试嵌套
body {
  a {
    color: red;
    box-shadow: 0 0 0 #fff;

    &:hover {
      color: $color;
    }
  }
}

// 测试是否会加前缀
::placeholder {
  color: gray;
}

.image {
  background-image: url(image@1x.png);
}

@media (min-resolution: 2dppx) {
  .image {
    background-image: url(image@2x.png);
  }
}

@import './main.scss'